<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="./login-register.css" />
    <title>Aboroad | Register</title>
  </head>
  <body>
    <section class="wrapper">
      <div>
        <h1>어브로드에 오신 것을 환영합니다!</h1>
        <p>가입 절차를 위한 회원 정보를 등록해주세요.</p>
        <li><button class="buttons">Google</button></li>
        <li><button class="buttons">Github</button></li>
      </div>
    </section>

    <script src="login.js"></script>
    <script src="register.js"></script>
  </body>
</html>
