/* header */
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* media_query */

@media screen and (max-width: 770px) {
  .modal_content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    line-height: 1.5;
  }

  .login-image {
    flex: 1 1 10%;
  }
  .login-content {
    flex: 1 1 90%;
  }

  .login-button {
    display: none;
  }
  .login-content li {
    top: 170px;
  }
  .add-email {
    width: 100%;
    height: 3rem;
    top: 140px;
    margin-top: 10px;
  }
  .add-email-input {
    width: 85%;
    height: auto;
  }

  .login-content-span {
    top: 310px;
    right: 30px;
  }
}
