.header-login {
  width: 160px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 900;

  position: absolute;
  right: 50px;
  top: 30px;
}

.container1 {
  margin: 330px auto;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  margin: 0 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-title {
  font-size: 48px;
  font-weight: bolder;
  margin: 0 0 40px 50px;
}

.container-left-img1 {
  margin: 0 15px 67px 0;
}

.container-right {
  margin: 0 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space {
  display: flex;
  align-items: center;
  /* border: 1px solid burlywood; */
  height: 238px;
  margin: 0 auto;
}

.container-right span {
  font-size: 24px;
}

.container-right span:first-child {
  color: #444444;
  font-weight: 100;
}
.container-right span:last-child {
  color: #4db7e6;
  font-weight: bold;
}

.container2 {
  width: 100%;
  margin: 330px auto;
  margin-bottom: 0;
  max-width: 1920px;
  height: 1080px;
  background-image: url('../public/images/Rectangle\ 20.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2-title {
  font-size: 48px;
  font-weight: bolder;
}

.container2-info {
  display: flex;
  flex-direction: column;
  margin-left: 53px;
}

.container2-dot {
  display: flex;
  justify-content: space-between;
  width: 730px;
  margin-top: 37px;
}

.container2-info2 {
  margin: 13.7px 0 12px;
  margin-left: 41.2px;
  font-size: 24px;
  font-weight: bold;
}

.container2-color {
  color: #4db7e6;
}

.container2-section {
  display: flex;
  align-items: center;
  margin-top: -66px;
  margin-left: 50px;
}

.container2-message {
  margin-top: 100px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  height: 120px;
  background: url('../public/images/KT1.png') no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.container2-message p {
  font-weight: bolder;
}

.footer {
  width: 100%;
  height: 259px;
  background: #4db7e6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-left {
  margin-right: 185px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-left li {
  margin: 15px 0;
  font-weight: bold;
}

.footer-copyright {
  font-weight: bolder;
}

.footer-right {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 185px;
}

.footer-right h3 {
  text-align: center;
  margin: auto 0;
}
.footer-right img {
  margin-right: 25px;
}

.footer-instagram {
  display: flex;
}

.footer-youtube {
  display: flex;
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
