* {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  color: #3f4150;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button,
input,
select,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
